---
layout: 2023/default
section: proposals
title: Propuestas para sala Geoinquietos & comunidad OpenStreetMap&#58; LibreGeo (Geoinquietos, OpenStreetMap, QGIS y otras aplicaciones libres espaciales) de esLibre 2023
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala "Geoinquietos & comunidad OpenStreetMap: LibreGeo (Geoinquietos, OpenStreetMap, QGIS y otras aplicaciones libres espaciales)" de es<span
          class="red">Libre</span> 2023</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  El objetivo de esta sala es la de dar cabida a la cultura libre en torno a los datos espaciales: tanto (1) en la creación de datos espaciales libres, como es el de la comunidad de colaboradores de OpenStreetMap, como (2) los usuarios y
  desarrolladores de aplicaciones libres de geomáticas, como pueden ser QGIS u otras herramientas libres para el tratamiento de datos espaciales. Puedes encontrar la información sobre la sala en la <a
    href="https://propuestas.eslib.re/2023/salas/libregeo-geoinquietos-openstreetmap-qgis-otras" target="_blank">página de su propuesta</a>.<br><br>
  En esta página encontraras todas la información detallada sobre las <strong>propuestas del programa específico de esta sala</strong>. Si estás buscando las propuestas del programa general de esta edición de <strong>es<span
      class="red">Libre</span></strong>, puedes encontrarla en la
  <a href="https://propuestas.eslib.re/2023/" target="_blank">página principal</a>.<br><br>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Charlas</h2>
      <ul id="talks">
        {% for talk in site.pages %}
        {% if talk.path contains '2023/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
        {% unless talk.state == 'canceled' %}
        <li style="padding-bottom: 0.5em;"><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a></li>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Talleres</h2>
      <ul id="workshops">
        {% for workshop in site.pages %}
        {% if workshop.path contains '2023/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
        {% unless workshop.state == 'canceled' %}
        <li style="padding-bottom: 0.5em;"><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a></li>
        {% endunless %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>